extends layout

block content
  h1= title
    //- a(class='button' id='addAuthor' href=/*"add Route Here"*/) Add author #{/*what put here?*/}
    h3 Enter information to create new author:
      form(method="post" action="/addAuthor")
        input(type="text", placeholder="Full Name", name="name")
        input(type="text", placeholder="Photo (image url)", name="img_url")
        textarea(rows="4" cols="50", placeholder="Bio", name="bio")
        input(type="submit" class='button' value="Create Author!")
