extends layout

block content
  h1= title
    h3 Enter information to create new book:
      form(method="post" action='/addBook')
        select(name="author_id")
          option(value=0) (CHOOSE AUTHOR)
          for author in data
            option(value=author.id) #{author.name}
        input(type="text", placeholder="Title", name="title")
        input(type="date", placeholder="Date Published (YYYY-MM-DD)", name="publication_date")
        input(type="text", placeholder="Cover Image (link)", name="img_url")
        textarea(rows="4" cols="50", placeholder="Description", name="description")
        input(type="text", placeholder="price", name="price")
        input(type="submit" class='button' value="Create Book!")
