extends layout

block content
  h1 Woodchuck Books
  .bookList
    .bookThumbnail
      img(src='http://cdn.movieweb.com/img.site/PHqgOEPBkHRkuv_1_l.jpg', height='200', width='200')
      p.Title Rogue One
      p.Author Gary Whitta
    .bookThumbnail
      img(src='http://cdn.movieweb.com/img.site/PHqgOEPBkHRkuv_1_l.jpg', height='200', width='200')
      p.Title Rogue One
      p.Author Gary Whitta
    .bookThumbnail
      img(src='http://cdn.movieweb.com/img.site/PHqgOEPBkHRkuv_1_l.jpg', height='200', width='200')
      p.Title Rogue One
      p.Author Gary Whitta
    .bookThumbnail
      img(src='http://cdn.movieweb.com/img.site/PHqgOEPBkHRkuv_1_l.jpg', height='200', width='200')
      p.Title Rogue One
      p.Author Gary Whitta
    .bookThumbnail
      img(src='http://cdn.movieweb.com/img.site/PHqgOEPBkHRkuv_1_l.jpg', height='200', width='200')
      p.Title Rogue One
      p.Author Gary Whitta
    .bookThumbnail
      img(src='http://cdn.movieweb.com/img.site/PHqgOEPBkHRkuv_1_l.jpg', height='200', width='200')
      p.Title Rogue One
      p.Author Gary Whitta
    .bookThumbnail
      img(src='http://cdn.movieweb.com/img.site/PHqgOEPBkHRkuv_1_l.jpg', height='200', width='200')
      p.Title Rogue One
      p.Author Gary Whitta
    .bookThumbnail
      img(src='http://cdn.movieweb.com/img.site/PHqgOEPBkHRkuv_1_l.jpg', height='200', width='200')
      p.Title Rogue One
      p.Author Gary Whitta
    .bookThumbnail
      img(src='http://cdn.movieweb.com/img.site/PHqgOEPBkHRkuv_1_l.jpg', height='200', width='200')
      p.Title Rogue One
      p.Author Gary Whitta
