extends layout

block content
  h1 Woodchuck Books
  .bookList
    for book in books
      .bookThumbnail
        img(src='#{book.img_url}', height='200', width='200')
        p.Title #{book.title}
        //- p.Author Gary Whitta

  .prevNext
    div
      p STUFF
      a(href='/?page=#{previousPage}') Previous
    div
      p THINGS
      a(href='/?page=#{nextPage}') Next
