doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .nav
      a.title(href='/?page=1') Woodchuck Books

      button.button( onclick="window.location.href='/addAuthor'") Add Author
      button.button( onclick="window.location.href='/addBook'") Add Book
      button.button( onclick="window.location.href='/genre'") Genre List

      //- .cartBox
      //-   a(href='/genre') List of Genres

      .cartBox
        form(method='post' action='/search/?page=1')
          input(type='text' name='searchq' placeholder='Search by Title or by Author')
          input(type='submit' class='sButton' value='search')

      .cartBox
        a(href='/see/cart') View Cart

    block content
