extends layout

block content
  h1 Order Confirmed!
  p The selected books are now being shipped to your address!

  p If this were a real website, we might have confirmed payment and sent you an email and stuff.

  a(href='/') Return to homepage
