body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2F2235;
  color: white;
}

a {
  color: #84B082;
}


.bookList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #3F3244
}

.bookThumbnail {
  padding: 10px;
  margin: 6px;
  background-color: #60495A
}

.button{
    height: 50px;
    padding: 10px 25px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #E5E5E5;
    color: #111163;
}

.button:hover{
    cursor: pointer;
    background-color: #D6D6D6;
    border: 1px solid #8E8E8E;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /*background-color: #3F3244;*/
  margin: 6px;
}



.cornerButtons {
  flex: 0 1 auto;
  background-color: #60495A;
  margin: 6px;
  padding: 4px;
}

form {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 10px;
}

form input {
  min-width: 170px;
  flex: 1 3 27%;
  margin: 10px;
  padding: 5px 15px;
}

form textarea {
  min-width: 300px;
  flex: 1 1 90%;
  margin: 10px;
  padding: 5px 15px;
}
